/* ---------------------------------------------- */
/* Icon Font                                      */
/* ---------------------------------------------- */


.icon-appliances:before {
    content: "\e901";
  }
  .icon-baby:before {
    content: "\e902";
  }
  .icon-beauty1:before {
    content: "\e903";
  }
  .icon-book:before {
    content: "\e904";
  }
  .icon-car:before {
    content: "\e905";
  }
  .icon-clothes:before {
    content: "\e900";
  }
  .icon-foods:before {
    content: "\e906";
  }
  .icon-houseware:before {
    content: "\e907";
  }
  .icon-interior:before {
    content: "\e908";
  }
  .icon-kitchenware:before {
    content: "\e909";
  }
  .icon-pet:before {
    content: "\e90a";
  }
  .icon-sports:before {
    content: "\e90b";
  }
  .icon-stationery:before {
    content: "\e90c";
  }
  .icon-theme:before {
    content: "\e90d";
  }
  .icon-toy:before {
    content: "\e90e";
  }
  .icon-travel:before {
    content: "\e90f";
  }
  .icon-beauty:before {
    content: "\e910";
  }
  