/* 헤더 */

/*--------top login bar--------*/
.top {
    background-color: var(--color-gray-100);
    width: 100vw;
    height: 34px;  
}

.login-area {
    background-color: var(--color-gray-100);
    margin: 0 auto;
    width: 1020px;
    height: 34px;
    padding: 0px;

    margin-top: 0px;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.login-area li {
    font-size: 12px;
    font-weight: 400;
}

.login-area li:first-child {
    margin-left: 8px;
}

.login-area li:nth-child(3) {
    margin-left: 744px;
}

.login-area li:nth-child(2),
li:nth-child(4),
li:last-child {
    margin-left: 8px;
}

/*--------main header--------*/

.main {
    border: 1px solid black;
}

.button--category {
    color: var(--color-white);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    position: relative;

    width: 110px;
    height: 116px;

    background-color: var(--color-blue-600);
    border: none;
}

.bg-img {
    width: 30px;
    height: 30px;

    position: absolute;
    top: 30px;
    left: 40px;
    bottom: 56px;
    background-image: url("/Mission-04/assets/icon/hamburger.svg");
}

.category-txt {
    position: absolute;
    left: 32.5px;
}

.logo h1 {
    color: rgba(0, 0, 0, 0);
    background-image: url("/Mission-04/assets/logo/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.search {
    border: 1px solid var(--color-blue-600);
    padding: 0px;
    display: flex;
    width: 516px;
    position: relative;
}

.selector {
    color: var(--color-gray-700);
    background-color: transparent;
    border: 0;
    border-right: 1px solid var(--color-gray-100);
    width: 135px;
    height: 40px;
    z-index: 999;
    padding-left: 12px;

    color: var(--color-gray-600);
    font-size: 12px;
    font-weight: 400;

    -webkit-appearance:none; /* for chrome */
    -moz-appearance:none; /*for firefox*/
    appearance:none;
    background-image: url()
}

.down-arrow {
    /* border: 1px solid red; */
    width: 12px;
    color: var(--color-gray-700);

    position: absolute;
    left: 94px;
    top: 13px; 
}

select::-ms-expand{
    display:none; /*for IE10,11*/
}

.search-bar {
    border: 0px;
    width: 301px;
    height: 40px;

    padding-left: 10px;
    color: var(--color-gray-600);
    font-size: 12px;
    font-weight: 400;
}

.voice, .search-btn {
    background-color: transparent;
    border: 0px;
}