/* CSS 작성 */

header {
  margin: 0 auto;
  width: 1020px;
}

#logo {
  height: 40px;
  width: 176px;
  margin-bottom: 56px;
}

/* --------Today discovery title section-------- */
.main {
  width: 1020px;
  margin: 0 auto;
}

.title {
  align-items: center;
  display: flex;
}

.title h2 {
  font-size: 24px;
  color: #181818;
  font-weight: 500;
}

.title p {
  padding-left: 10px;
  color: var(--color-gray-600);
}

/* --------Today discovery product section-------- */
.button {
  position: absolute;
  background-color: black;
  opacity: 0.2;
  left: 20px;
  bottom: 20px;
  cursor: pointer;

  width: 42px;
  height: 42px;
  padding: 0px;
}

.item-container {
  /* border: 1px solid red; */
  /* width: 1020px; */
  /* height: auto; */
  overflow: hidden;
}

.item {
  float: left;
  border: 1px solid var(--color-gray-500);
  position: relative;
  height: 310px;
}
/* first row */
.item2 {
  margin-left: 14px;
}

.wide {
  padding: 20px 28px;
  width: 502px;
  height: 310px;
}

.not-wide {
  padding: 14px 22px 14px 21px;
  width: 243px;
  height: 310px;
}

.second {
  margin-top: 16px;
  margin-bottom: 16px;
}
/* second row */
.item3{
  margin-right: 16px;
}

.item4 {
  margin-right: 13px;
}

.item5 {
  margin-right: 16px;
}

.item6 {
  float:right;
}
/* third row */
.item7 {
  margin-right: 13px;
}

.item9 {
  float:right;
}

/* user interaction  */
.item:hover, :focus {
  border: 1px solid var(--color-blue-600);
}


.item:hover button {
  background-color: var(--color-blue-600);
  opacity: 1.0;
  width: 112px;
  height: 42px;
  transition: 0.1s;

  display: flex;
  align-items: center;
  justify-content: right;
}

.item:hover button::before {
  content: '구매하기';
  color: white;
  font-size: 14px;
}

.item:focus button {
  background-color: var(--color-blue-600);
  opacity: 1.0;
  width: 112px;
  height: 42px;
  transition: 0.1s;

  display: flex;
  align-items: center;
  justify-content: right;
}

.item:focus button::before {
  content: '구매하기';
  color: white;
  font-size: 14px;
}
